table{
    background-color: rgb(193, 202, 201);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    width: 100%;
}

th, td {
    padding: 5px;
}
tr:hover {
    background-color: burlywood;
    border-color: black;
}
tr:nth-child(even){
    background-color: azure;
    border-color: darkgray
}
tr {
    border-bottom: 1px;
}
tr:nth-child(even):hover{
    background-color: darkgray;
}
th {
    background-color: cornflowerblue;
    color: antiquewhite;
}